*{
  margin: 0;
  padding: 0;
}
.navBar{
  position: relative;
  border-bottom: 2px solid black;
}

.drawer{
  position: absolute;
  margin-top: 67px !important;
  background-color: black;
  border: solid red 5px;

  top: 67px ;
}

.drawerComp {
  margin-left: 300px;
  margin-top: 27px;
  height: 100%;
  background-image: url('https://png.pngtree.com/background/20211215/original/pngtree-light-blue-background-gradient-abstract-background-picture-image_1455610.jpg');
  background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

